extends ../common/bootstrap_boilerplate.pug

block content
  .container
  
    ul.nav
      li.nav-item
        b
          a.nav-link= locals.site.title
      each val in locals.site.siteMenu
        li.nav-item
          a.nav-link(href=val.link)= val.title

    .jumbotron
      
      h1.display-3= app.data.title
      
      p.lead= app.data.welcomeMessage

      hr.my-4

      p This application was created with carolina.js.
      p.lead
        a(
          class="btn btn-primary btn-lg"
          href=app.data.link
          role='button'
        )= app.data.enterButtonText