doctype html
head

  meta(
    charset='utf-8'
  )
  meta(
    name='viewport'
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  )

  title Carolina Admin Panel

  base(
    href="/admin/"
  )
body
  app-root
script(src="/static/carolinaAdminApp/inline.bundle.js")
script(src="/static/carolinaAdminApp/polyfills.bundle.js")
script(src="/static/carolinaAdminApp/styles.bundle.js")
script(src="/static/carolinaAdminApp/vendor.bundle.js")
script(src="/static/carolinaAdminApp/main.bundle.js")

